.container{
  position: relative;
  padding: 15px;
  border: 1px dashed #ccc;
  width: 600px;
  margin: 10px auto;
}
header{
	display: flex;
	justify-content: space-between; 
}
h1{
	margin: 0;
}
form{
	margin: 15px 0 0;
}
.clear-btn{
	border: 0;
	background: none;
}
.add-btn {
  color: #fff;
  background: #000;
  padding: 4px 10px;
  border: 0;
  border-radius: 5px;
}

.todo-list {
  margin: 15px 0 0;
}
.todo-item:first-child{
  display: none;
}
.del-btn {
  color: #f00;
  padding: 0 15px 0;
  border: 0;
}
.red {
  color: red;
}
.green {
  color: green;
}
.done{
  text-decoration: line-through;
  color: black;
}
.title{
  cursor: default;
  white-space: pre;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: 600;
}
.select{
  position: absolute;
  top: 106px;
  right: 20px;
}
.find {
  position: absolute;
  top: 69px;
  left: 463px;
}
.find_label {
  position: absolute;
  top: 69px;
  left: 424px;
}
.datefield {
  width: 75px;
}
.reload {
  width: 22px;
  height: 20px;
  font-size: 20px;
  padding: 0;
  border: 0;
  margin: 0;
  background: #fff;
  box-sizing: border-box;
  line-height: 10px;
  vertical-align: top;
}